.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;

  .article_card {
    img {
      height: 180px;
    }

    i {
      font-size: 0.5em;
      vertical-align: middle;
    }
  }
}
