@import '../variables';

.articles {
  margin: auto;
  padding: 1.5em 0;
  width: 1024px;
  text-align: left;

  .articles_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow: hidden;
    gap: $grid-gap;

    .article_card {
      background-color: $white;
      position: relative;
      border: none;

      img {
        height: 180px;
        border-radius: 1.2em;
      }

      .body {
        padding: 0em 0.5em;
        .subtitle {
          color: rgb(33, 37, 41, 0.75) !important;
          margin: 1em 0 0.8em 0;
          i {
            font-size: 0.4em;
            vertical-align: middle;
          }
        }

        .title {
          margin-bottom: 0.8em;
        }

        .text {
          font-size: 1.1em;
          line-height: 1.2em;
        }

        .button {
          background-color: $blue;
          border: 1.5px solid $blue;
          margin-bottom: 0.8em;
          padding: 0.2em 0.3em;
          font-size: 1em;
          letter-spacing: 0.1em;

          &:hover {
            background-color: $white;
            color: $black;
            border: 1.5px solid $blue;
          }
        }
      }
    }

    .article_card::before,
    .article_card::after {
      content: '';
      position: absolute;
      background-color: $line-color;
      z-index: 1;
    }

    .article_card::after {
      inline-size: 100vw;
      block-size: $line-thickness;
      inset-inline-start: 0;
      inset-block-start: calc($line-offset) * -1;
    }
  }
}
