@import '../variables';

footer {
  margin: auto;
  padding: 1em;
  border-top: 2px solid $black;
  background-color: $white;

  span {
    font-weight: 500;
    font-size: 1.4em;
  }

  img {
    height: 50px;
  }
}
