.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0em;
  width: auto;
  height: 4em;
  color: white;
  background-color: rgb(255, 106, 106);

  .navlink {
    padding: 1em;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
}
