// Global color variables
$black: #232528;
$white: #fffaff;
$blue: #6c60ff;
$red: #ff7373;

// Articles grid
$grid-gap: 2em;
$line-offset: calc($grid-gap / 2);
$line-thickness: 2px;
$line-color: $blue;
